---
import TerciaryArticle from "../../components/TerciaryArticle.astro";
import Layout from "../../layouts/Layout.astro";
import { ArticlesService } from "../../services/articles.service";
import { marked } from "marked";
import { UsersService } from "../../services/users.service";

const { id } = Astro.params;

if (id === undefined) {
  throw new Error("ID param is missing");
}

const article = await ArticlesService.getById(id);

if (article === undefined) {
  throw new Error("Article not found");
}

const content = marked.parse(article.content);
const otherArticles = await ArticlesService.getAll(8);
const authorName = await UsersService.getNameOfUserWithId(article?.authorId);
---

<Layout>
  <form class="flex flex-col" id="form">
    <h1 class="text-[#0e1c40] font-title text-7xl mt-[60px] mb-[10px]">
      {article.title}
    </h1>

    <h2 class="text-gray-600 text-3xl mb-[15px]">
      {article.description}
    </h2>

    <h3 class="text-gray-600 text-[18px] mb-[30px]">
      Por {authorName}
    </h3>

    <div class="grid gap-x-10 grid-cols-[2fr_1fr]">
      <article
        class="w-full h-full text-pretty text-gray-800 leading-relaxed text-2xl space-y-6 prose prose-lg prose-slate break-words overflow-x-auto"
        set:html={content}
      />

      <aside class="flex w-full h-full flex-col gap-y-5">
        {
          otherArticles
            ?.filter((a) => a.id !== article.id)
            .map((article) => <TerciaryArticle {article} />)
        }
      </aside>
    </div>
  </form>
</Layout>
