---
import ArticleInput from "../../../components/ArticleInput.astro";
import Layout from "../../../layouts/Layout.astro";
import { ArticlesService } from "../../../services/articles.service";

const { id } = Astro.params;

if (id === undefined) {
  throw new Error("Parámetro ID no encontrado");
}

const article = await ArticlesService.getById(id);

if (article === undefined) {
  throw new Error("Artículo no encontrado");
}
---

<Layout>
  <div class="block md:hidden mt-20 text-center p-6">
    <p class="text-3xl font-semibold text-red-600">
      No puedes editar artículos desde el celular. Usa una computadora.
    </p>
  </div>

  <form class="hidden md:flex flex-col pb-[5vw] mt-[60px]" id="form">
    <ArticleInput
      placeholder="Subtítulo de tu artículo"
      maxlength="50"
      name="subtitle"
      class="text-2xl font-bold font-text mb-[20px]"
      value={article.subtitle}
    />

    <ArticleInput
      placeholder="Título de tu artículo"
      maxlength="50"
      name="title"
      class="text-5xl font-title"
      value={article.title}
    />

    <ArticleInput
      class="mt-[20px] text-2xl mb-[30px]"
      placeholder="Descripción de tu artículo"
      name="description"
      value={article.description}
    />

    <div class="grid gap-x-10 grid-cols-[2fr_1fr]">
      <div class="flex flex-col justify-between gap-y-6">
        <textarea id="editor" name="content"></textarea>

        <button
          class="w-full h-[70px] clickable bg-brand-orange rounded-[4px] text-white text-3xl"
        >
          Edit artículo
        </button>
      </div>

      <aside class="flex flex-col gap-y-5">
        <div class="w-full flex flex-col gap-y-2">
          <div class="w-full max-w-md mx-auto">
            <input
              type="file"
              id="thumbnail_url"
              name="thumbnail_url"
              accept="image/*"
              class="hidden"
            />

            <label
              for="thumbnail_url"
              class="cursor-pointer w-full aspect-video rounded-md border border-gray-300 overflow-hidden flex items-center justify-center bg-gray-200"
            >
              <img
                id="thumbnail-preview"
                class="w-full h-full object-cover"
                alt="Vista previa de la imagen seleccionada"
                src={article.thumbnailUrl}
              />
              <span id="placeholder-text" class="text-gray-500 font-medium hidden">
                Clickeá para elegir la portada del artículo
              </span>
            </label>
          </div>

          <ArticleInput
            placeholder="Breve descripción de la portada"
            name="thumbnail-alt"
            maxlength="30"
            value={article.thumbnailAlt}
          />
        </div>
      </aside>
    </div>
  </form>
</Layout>

<script>
  import EasyMDE from "easymde";
  import "easymde/dist/easymde.min.css";
  import { ArticlesService } from "../../../services/articles.service";
  import type { Article } from "@prisma/client";

  async function initEditor() {
    const pathParts = window.location.pathname.split("/");
    const id = pathParts[pathParts.length - 1];

    if (!id) {
      console.error("No se encontró el parámetro ID en la URL");
      return;
    }

    let article: Article | undefined;

    try {
      article = await ArticlesService.getById(id);
    } catch (err) {
      console.error("Error al obtener el artículo:", err);
      alert("No se pudo cargar el artículo");
      return;
    }

    if (!article) return;

    const $textarea = document.getElementById("editor");

    let easyMDE: EasyMDE;

    if ($textarea) {
      easyMDE = new EasyMDE({
        element: $textarea,
        placeholder: "Contenido de tu artículo...",
        initialValue: article.content,
        spellChecker: false,
        autofocus: true,
        autosave: {
          enabled: true,
          uniqueId: "article-editor",
          delay: 1000,
        },
        toolbar: [
          "preview",
          "|",
          "bold",
          "italic",
          "heading",
          "|",
          "quote",
          "unordered-list",
          "ordered-list",
          "|",
          "link",
          "image",
          "table",
          "|",
          "guide",
        ],
        minHeight: "500px",
      });

      easyMDE.codemirror.getWrapperElement().style.fontSize = "24px";
      easyMDE.codemirror.getWrapperElement().style.lineHeight = "1.6";

      const $form = document.getElementById("form") as HTMLFormElement;
      const $thumbnailInputPlaceholder =
        document.getElementById("placeholder-text");
      const $thumbnailFileInput = document.getElementById(
        "thumbnail_url"
      ) as HTMLInputElement;
      const $thumbnailPreview = document.getElementById(
        "thumbnail-preview"
      ) as HTMLImageElement;

      if (
        $form &&
        $thumbnailFileInput &&
        $thumbnailPreview &&
        $thumbnailInputPlaceholder
      ) {
        $thumbnailFileInput.addEventListener("change", (event) => {
          const file = (event.target as HTMLInputElement).files?.[0];

          if (file) {
            $thumbnailPreview.src = URL.createObjectURL(file);
            $thumbnailPreview.classList.remove("hidden");
            $thumbnailInputPlaceholder.classList.add("hidden");
          } else {
            $thumbnailPreview.classList.add("hidden");
            $thumbnailPreview.src = "";
            $thumbnailInputPlaceholder.classList.remove("hidden");
          }
        });

        $form.addEventListener("submit", async (event) => {
          event.preventDefault();

          const formData = new FormData($form);
          const title = String(formData.get("title"));
          const subtitle = String(formData.get("subtitle"));
          const description = String(formData.get("description"));
          const thumbnailAlt = String(formData.get("thumbnail-alt"));
          const thumbnailFile = $thumbnailFileInput.files?.[0];
          const content = easyMDE.value();

          formData.set("title", title);
          formData.set("subtitle", subtitle);
          formData.set("description", description);
          formData.set("thumbnailAlt", thumbnailAlt);

          if (thumbnailFile) {
            formData.set("thumbnailFile", thumbnailFile);
          }

          formData.set("content", content);

          try {
            const newArticle = await ArticlesService.update(
              formData,
              article.id
            );

            window.location.href = "/articulos/" + newArticle.id;
          } catch (err) {
            console.error("Error editando artículo:", err);
            alert("Error al editar el artículo");
          }
        });
      }
    }
  }

  initEditor();
</script>
