---
import type { Article as ArticleData } from "../models/article.model";
import Article from "./Article.astro";
import H3 from "./H3.astro";
import H4 from "./H4.astro";
import H5 from "./H5.astro";

interface Props {
  class?: string;
  article: ArticleData;
}

const { class: extraClass = "", article } = Astro.props;
---

<Article
  id={article.id}
  class={`grid grid-cols-[1fr_1fr] gap-x-5 h-full ${extraClass}`}
>
  <img
    loading="eager"
    src={article.thumbnail.src}
    alt={article.thumbnail.alt}
    class="h-[clamp(100px,100%,300px)] w-full object-cover"
  />

  <div>
    <div class="flex flex-col">
      <H4 class="text-[20px]">{article.subtitle}</H4>
      <H3 class="text-[20px]">{article.title}</H3>
    </div>

    <H5>{article.author}</H5>
  </div>
</Article>
